<footer class="footer">
        <div class="container">
            <div class="footer-container">
                <p class="content has-text-centered">&copy; 2018 システム工学研究会</p>
            </div>
        </div>
</footer>