<header>
    <div class="navbar">
        <div id="header-logo">
            <img src="">
        </div> 
        <ul class="header-list">
            <li class="header-item"><a href="./about.html">About</a></li>
            <li class="header-item"><a href="./member.html">Member</a></li>
            <li class="header-item"><a href="./portfolio.html">Portfolio</a></li>
            <li class="header-item"><a href="https://set1.ie.aitech.ac.jp/blog/">Blog</a></li>
        </ul>
    </div>
</header>